/* Base
================================================== */

.clearfix {
  zoom: 1;

  &:before, &:after {
    content: '';
    display: inline-block;
    display: table;
    clear: both;
  }
}

.disabled {
  opacity: .25;
  pointer-events: none;
}

.visible {
  display: block;
  visibility: visible;
  opacity: 1;
  pointer-events: normal;
  width: auto;
  height: auto;
}

.hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
  width: 0;
  height: 0;
  margin: 0;
  padding: 0;
}


.item-actions {
  position: absolute;
  top: .25em;
  right: .25em;
}

.item-action {
  float: left;
  font-size: 1.5em;
  width: 1em;
  height: 1em;
  line-height: 1em;
  text-indent: -9999px;
  text-shadow: 0 0 3px rgba(255,255,255,.75);
  overflow: hidden;

  &.resize { font-size: 1.4em; }

  &:before {
    text-indent: 0;
    display: block;
  }
}

