@font-face {
	font-family: 'icomoon';
	src:url('/assets/fonts/icomoon.eot');
	src:url('/assets/fonts/icomoon.eot?#iefix') format('embedded-opentype'),
		url('/assets/fonts/icomoon.svg#icomoon') format('svg'),
		url('/assets/fonts/icomoon.woff') format('woff'),
		url('/assets/fonts/icomoon.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
	font-family: 'icomoon';
	content: attr(data-icon);
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

/* Use the following CSS code if you want to have a class per icon */
[class^="icon-"]:before, [class*=" icon-"]:before {
	font-family: 'icomoon';
	font-style: normal;
	speak: none;
	font-weight: normal;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}
.icon-plus:before {
	content: "\2b";
}
.icon-minus:before {
	content: "\2d";
}
.icon-cancel:before {
	content: "\2297";
}
.icon-cancel-2:before {
	content: "\d7";
}
.icon-pictures:before {
	content: "\25a8";
}
