// Layout
// ================================================== //

* {
  @include box-sizing(border-box);
}

html { height: 100%; }

body {
  height: 100%;
  overflow: hidden;
  position: relative;
  font: normal #{$font-size}/#{$line-height} $font-family;
  color: $color-text;
  background-color: $color-primary;
}

body, a {
  @include transition-duration(1s);
  @include transition-property(background-color, color);
  @include transition-timing-function(linear);
}

a {
  color: $color-text;
  text-decoration: none;
  &:hover { opacity: .75; }
  &:active { opacity: .5; }
}

.toolbar, .app-main {
  position: fixed;
  left: 0; right: 0;
}

.toolbar {
  top: 0;
  height: $toolbar-height;
  line-height: $toolbar-height;
  padding: 0 ($padding / 2);
}

.app-title {
  font: {
    weight: 600;
    size: 2em;
    family: $font-family;
  }
  text-transform: lowercase;
  letter-spacing: -2px;
  float: left;
}

.app-title-kerning-b {
  margin-right: 1px; }

.actions {
  float: right;
}

#file-upload {
  visibility: collapse;
  width: 0px;
  position: absolute;
}

.app-main {
  top: $toolbar-height;
  bottom: 0;
  padding: 0 6px 6px;
  overflow: scroll;
  // background: $color-bg;
  // @include background-image(linear-gradient(top, $color-bg, darken($color-bg, 25%)));
}

$bg-dash-size: 17px;

.gridster {
  top: -10px;

  li {
    overflow: hidden;
    background: rgba($color-text, .25);
    @include background(linear-gradient(left bottom, rgba($color-text, .25) 0%, rgba($color-text, .25) 25%, rgba($color-bg, 0) 25%, rgba($color-bg, 0) 50%, rgba($color-text, .25) 50%, rgba($color-text, .25) 75%, rgba($color-bg, 0) 75%));
    background-size: $bg-dash-size $bg-dash-size;

    .item-actions { display: none; }
    .item-action {
      margin-left: .25em;
    }

    &:hover {
      cursor: move;

      .item-actions { display: block; }
    }

    img {
      max-height: 100%;
      min-width: 100%;
      min-height: 100%;
    }

    &[data-sizex="2"] img {
      max-height: 150%;
    }

    &.preview {
      overflow: visible;
      z-index: 10;

      img {
        position: fixed;
        top: 50%;
        left: 50%;
        min-width: 0;
        min-height: 0;
        width: 400px;
        height: auto;
        margin: -150px -200px;
        box-shadow: 0 0 80px 20px rgba(0,0,0,.5);
        border-radius: 2px;
        z-index: 20;
      }
    }
  }

  &.dragging {
  }
}

.app-main.empty {
  padding: 0 1em 1em;

  .gridster {
    border: 2px dashed;
    height: 100%;
    top: 0;
    border-radius: 5px;

    &:before {
      content: '+';
      font: normal 100px/1 entypo;
      height: 1em;
      width: 1em;
      position: absolute;
      margin: -.5em;
      top: 50%;
      left: 50%;
    }
  }
}


// Responsive

@media screen and (max-width: $breakpoint-small) {
  @import 'responsive/breakpoint-small'; }

@media screen and (max-width: $breakpoint-medium) {
  @import 'responsive/breakpoint-medium'; }

@media screen and (max-width: $breakpoint-large) {
  @import 'responsive/breakpoint-large'; }





