// Settings
// ================================================== //

@import url(http://fonts.googleapis.com/css?family=Nobile:400,700);

// Layout
$padding: 2em;

$toolbar-height: 2 * $padding;

// Typography
$font-size: 16px;
$line-height: 1.5;

$font-family: 'Nobile', 'Open Sans', 'Helvetica Neue', sans-serif;

// Colours
$color-primary: darkslategrey;

$color-text: desaturate(invert($color-primary), 100%);
$color-bg: rgba($color-text, .25);

// Breakpoints
$breakpoint-small:   30em;
$breakpoint-medium: 100em;
$breakpoint-large:  200em;
