@import 'nib';

@import url('http://fonts.googleapis.com/css?family=Montserrat:400,700');

html {
  background-image: linear-gradient(whitesmoke, white);
  min-height: 100%;
}

body {
  color: #444;
  font: normal 18px/1.5em 'Montserrat';
  text-align: center;
  -webkit-font-smoothing: antialiased;
}

.app-container {
  padding: 2em;

  @media screen and (max-width: 600px) {
    padding: 0 1em 2em;
  }
}

.app-header {
  height: 1.5em;
  margin: 0 0 2em;
}

.button {
  width: 10em;
  margin: 1em auto;
  padding: 0 1em;
  height: 2em;
  line-height: 2em;
  background: mediumturquoise;
  text-shadow: 0 1px 1px darkturquoise;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid darkturquoise;
  color: white;
  border-radius: 2px;
}

.logo {
  float: left;
  margin: 0;
  font-size: 1.25em;
  text-transform: uppercase;
  letter-spacing: .5em;
}

.login-buttons-dropdown-align-right { float: right; }

.label {
  display: block;
  text-transform: uppercase;
  font-size: .65em;
  color: #666;
}

label {
  @extend .label;
}

.input {
  width: 100%;
  background: white;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-width: 0 0 1px 0;
  font: normal 18px/1.5em 'Montserrat';  
}

input[type='text'], input[type='email'], input[type='password'], textarea {
  @extend .input;
}

.public {
  .logo {
    font-size: 2em;
    float: none;
    margin: 2em 0;
    text-shadow: .25em -.25em white;
  }

  .login-buttons-dropdown-align-right { float: none; }
  .login-link-text, .login-close-text { display: none; }

  .login-form-sign-in, .accounts-dialog {
    max-width: 400px;
    margin: auto;
  }

  .additional-link-container {
    display: inline-block;
    margin: 0 -.15em;
    ~ .additional-link-container {
      border-left: 1px solid #aaa;
      margin-top: 1em;
    }
  }

  .additional-link {
    padding: 0 .75em;
    font-size: 90%;
  }

  .login-button {
    @extends .button;
  }

}


// Boards

.boards { clear: both; }

.board {
  float: left;
  position: relative;
  list-style: none;
  border: 1px solid darkkhaki;
  border-bottom: 0;
  background: white;
  font-size: 1em;
  padding: 0 1em;
  margin: 0 1em 1em 0;
  min-height: 8em;
  min-width: 8em;
  max-width: 24em;
  text-align: left;
  background-color: palegoldenrod;
  background-image: linear-gradient(top, rgba(0,0,0,.15) 0, rgba(0,0,0,.15) 1px, rgba(0,0,0,0) 1px, rgba(0,0,0,0));
  background-position: center -1px;
  background-size: 2em;
}

.board-header {
  margin-bottom: 1.65em;

  h1 {
    margin: 0;
    line-height: 2em;
  }

  .icon-delete {
    position: absolute;
    top: -.5em; right: -.5em;
    background: white;
    border: 1px solid #ccc;
    border-radius: 50%;
  }
}

.board-content {
  line-height: 2em;
  margin-bottom: 1.35em;
}


[class*='icon-'] {
  display: block;
  position: relative;
  text-indent: -9999px;
  overflow: hidden;
  width: 1em;
  height: 1em;
  line-height: 1em;

  &:before {
    text-indent: 0;
    position: absolute;
    top: 50%; left: 50%;
    margin: -.5em;
    width: 1em; height: 1em;
    text-align: center;
  }

}

.icon-delete:before { content: '\00D7' }




.dialog {
  clear: both;
  width: 400px;
}