/* Buttons
================================================== */

$button-height: $padding;
$button-bg-color: $color-bg;

.button {
  display: inline-block;
  height: $button-height;
  line-height: $button-height;
  background: $button-bg-color;
  font: {
    weight: 100;
  }
  padding: 0 ($button-height / 2);
  color: $color-text;
  text-decoration: none;
  @include border-radius(2px);
}


.action-button {
  position: relative;
  width: $button-height;
  text-indent: -9999px;
  background: transparent;
  margin-left: .5em;

  &:before {
    position: absolute;
    margin: -.5em;
    font-size: 38px;
    top: 50%; left: 50%;
    height: 1em; width: 1em;
    line-height: 1em;
    text-indent: 0;
    text-align: center;
    color: inherit;
  }
}
