#save-dialog.dialog.hidden
  %textarea#save-box

#upload-dialog.dialog.hidden
  %textarea#load-box
  = link_to 'Save', '#', class: 'button save-button', id: "upload-save-button"

#main-overlay.overlay.hidden
  = image_tag 'spinner.gif', class: 'spinner'
